<div class="add-servico-container">
    <app-menu></app-menu>
    <div class="add-servico-content">

        <div class="header">
            <h2>Serviços</h2>
        </div>

        <div id="geral">
            <form>
                <!-- alert-->
                <ngb-alert type="success" (closed)="closeSuccess()" *ngIf="showSuccess">Serviço adicionado com
                    sucesso</ngb-alert>
                <ngb-alert type="danger" *ngIf="showError" (closed)="closeError()">Serviço adicionado com
                    sucesso</ngb-alert>

                <!-- alert-->

                <div class="form-container">
                    <div class="form-side">
                        <div class="form-group">
                            <label for="representante">Representante</label>
                            <select class="form-control" [(ngModel)]="representantesName" name="representante">
                                <option [value]="representantesName">{{ representantesName }}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="veiculo">Cliente</label>
                            <input autofocus class="form-control" inputmode="numeric" mask="000.000.000-00"
                                placeholder="CPF" type="text" [(ngModel)]="novoServico.clienteCpf" name="cpf">
                        </div>

                        <div class="form-group">
                            <label for="veiculo">Veiculo</label>
                            <input class="form-control" placeholder="Digite a placa do veiculo" type="text"
                                [(ngModel)]="novoServico.veiculoPlaca" name="veiculo">
                        </div>

                        <div class="form-group">
                            <label for="servicos">Tipo de Serviço</label>
                            <select class="form-control" [(ngModel)]="novoServico.tipoServico" name="tipoServico">
                                <option value="" disabled selected>Selecione o Serviço</option>
                                <option *ngFor="let servico of tipoServicos" value="{{servico}}">
                                    {{servico}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="equipamento">Equipamento</label>
                            <select class="form-control" [(ngModel)]="novoServico.equipamento" name="equipamento">
                                <option value="" disabled selected>Selecione o Equipamento</option>
                                <option *ngFor="let equipamento of equipamentos" value="{{equipamento}}">
                                    {{equipamento}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="garantia">Garantia</label>
                            <select class="form-control" [(ngModel)]="novoServico.garantia" name="garantia">
                                <option value="" selected disabled>Selecione a opção</option>
                                <option value="sim">Sim</option>
                                <option value="nao">Não</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-side">
                        <div class="form-group">
                            <label for="acessorios">Acessórios</label>
                            <select class="form-control" [(ngModel)]="novoServico.acessorios" name="equipamento">
                                <option value="" selected disabled>Selecione o equipamento</option>
                                <option *ngFor="let acessorio of acessorios" value="{{acessorio}}">
                                    {{acessorio}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="horaPedido">Hora do pedido</label>
                            <input type="datetime-local" class="form-control" [(ngModel)]="novoServico.horaPedido"
                                name="horaPedido">
                        </div>

                        <div class="form-group">
                            <label for="horaEnvio">Hora do envio</label>
                            <input type="datetime-local" class="form-control" [(ngModel)]="novoServico.horaEnvio"
                                name="horaEnvio">
                        </div>

                        <div class="form-group">
                            <label for="horaFinalizacao">Hora da finalização</label>
                            <input type="datetime-local" class="form-control" [(ngModel)]="novoServico.horaFinalizacao"
                                name="horaFinalizacao">
                        </div>

                        <div class="form-group">
                            <label for="custo">Custo</label>
                            <input type="text" class="form-control" [(ngModel)]="novoServico.preco" placeholder="Digite o valor"
                                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" currencyMask
                                required name="custo" />
                        </div>

                        <div class="form-group">
                            <label for="equipamento">Observações</label>
                            <textarea class="form-control" aria-label="With textarea"
                                [(ngModel)]="novoServico.observacao" placeholder="Observações"
                                name="observacao"></textarea>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="botaoenviar" (click)="onSubmit()">Enviar</button>
            </form>

        </div>
    </div>
</div>