<div class="dashboard-container">
    <app-menu></app-menu>
    <div class="dashboard-content">
        <!-- formulario.component.html -->
        <div class="container mt-4">
            <h2>Formulário</h2>
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="cliente">Cliente:</label>
                    <input type="text" class="form-control" id="cliente" [(ngModel)]="novoServico.cliente"
                        name="cliente" required>
                </div>

                <div class="form-group">
                    <label for="veiculo">Veículo:</label>
                    <input type="text" class="form-control" id="veiculo" [(ngModel)]="novoServico.veiculo"
                        name="veiculo" required>
                </div>

                <div class="form-group">
                    <label for="veiculo">Serviço:</label>
                    <input type="text" class="form-control" id="servico" [(ngModel)]="novoServico.servico" name="servico" required>
                </div>

                <div class="form-group">
                    <label for="representante">Representante:</label>
                    <input type="text" class="form-control" id="representante"
                        [(ngModel)]="novoServico.representante" name="representante" required>
                </div>

                <div class="form-group">
                    <label for="TME">TME:</label>
                    <input type="text" class="form-control" id="TME" [(ngModel)]="novoServico.TME" name="TME"
                        required>
                </div>

                <div class="form-group">
                    <label for="custo">Custo:</label>
                    <input type="text" class="form-control" id="custo" [(ngModel)]="novoServico.custo" name="custo"
                        required>
                </div>

                <div class="form-group">
                    <label for="pedido">Pedido:</label>
                    <input type="text" class="form-control" id="pedido" [(ngModel)]="novoServico.pedido"
                        name="pedido" required>
                </div>

                <div class="form-group">
                    <label for="envio">Envio:</label>
                    <input type="text" class="form-control" id="envio" [(ngModel)]="novoServico.envio" name="envio"
                        required>
                </div>

                <div class="form-group">
                    <label for="finalizacao">Finalização:</label>
                    <input type="text" class="form-control" id="finalizacao" [(ngModel)]="novoServico.finalizacao"
                        name="finalizacao" required>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
              
            </form>
        </div>
    </div>
  
</div>