
.add-servico-container{
    display: flex;
    background-color: #dadada9f;
}

.add-servico-content{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

#geral{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5vh;
    background-color: white;
  
}
.form-container{
    display:flex;
    flex-direction: row;
}

.form-group{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1vh;
    font-size: 20px;
    font-weight: boldergb(40, 40, 40)

}
.date-control{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header h2{
    margin-top: 3vh;
    margin-left: 70vh;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1vh;
    color: rgb(90, 90, 89);
    font-weight: bolder;   
}

.header{
    background-color: white;
    display: flex;
    padding: 10px 2rem;
    margin-bottom: 4rem;
    margin-top: 1vh;
    width: 97%;
    height: 15vh;
    border-radius: 8px;
   
}
.form-control{
    box-shadow: 0 0 0 0 ;
    outline: 2;
    border: 1px solid rgb(155, 155, 155);
    width: 80vh;
}

#botaoenviar{
    font-size: 20px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-left: 28%;
    color:rgb(255, 255, 255); ;
    background-color: #2b2c2e;
    border: none;
}

