.add-servico-container{
    display: flex;
    flex-direction: row;
}

.add-servico-content{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

#geral{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150vh;
    background: #80808017;
    padding: 5vh;
    border-radius: 20px;
    box-shadow: 5px 10px 5px 10px #888888;
}

.form-container{
    display:flex;
    flex-direction: row;
}

.form-side{
    padding: 5vh;
}

#botaoenviar{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    background-color: #3a3939;
    border: none;
}


.form-group{
    margin: 2vh;
}
.date-control{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

h2{
    color: black;
    text-align: center;
}