
#user_avatar{
    width: 80px;
    height: 80px;
    margin-left: 2.2rem;
    object-fit: cover;
    align-items: center;
    border-radius: 20px;
    
}
#user{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

#user_infos{
    display: flex;
    flex-direction: column;
    text-align: center;

}

#user:hover {
    color: #ffffff;
}
.menu-container {
    top: 0;
    bottom: 0;
    left: 0;
    width: 25vh;
    flex-direction: column;
    background-color: #2b2c2e;
    height: 100vh;
    padding: 0 1.7rem;
    position: sticky;
    overflow: hidden;
}
.menu-container li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 10px;
    width: 10rem;
    height: 5rem;
}

#sidebar_content{
    height: 88%;
    position: relative;
    color: rgb(255, 255, 255);
    list-style: none;
    padding: 0;
}
#sidebar_content li{
    padding: 1rem;
    margin: 8px 0;
    transition: all 0.5s;
}

#sidebar_content li:hover, .active{
    background-color: rgb(75, 73, 73);
 
}
#sidebar_content span{
   overflow: hidden;
}

#sidebar_content svg{
    font-size: 1.2rem;
    display: flex;

 }

#side-items{
    display: flex;
    flex-direction: column ;
    gap: 8px;
    list-style: none;
}
.side-item{
    padding: 2px;
    cursor: pointer;
    border-radius: 7px;
}
.side-item li:hover {
    background-color: #303133;
}

.side-item:hover{
    color: rgb(0, 0, 0);
}
.item-description{
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 25px;
}
#open_btn{
    position: absolute;
    top: 30px;
    right: -10px;
    background-color:#0f0f0f; 
    color: #e3e9f7;
    border-radius: 100%;
    color: rgb(247, 226, 45);
    border: none;
    cursor: pointer;
}

.item-description{
    width: 0px;
    overflow: hidden ;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.logout{

    position: relative;
    bottom: 0;
    width: 100%;
    
    cursor: pointer;
}


/* 
.menu-container ul li {
    display: flex;
    width: 115%;
    align-items: center;
    list-style: none;
    padding: 10px;
}
.menu {
    padding: 2vh;
}

.menu-container .setainterativa {
    top: 10%;
    right: 25px;
    width: 25px;
    display: flex;
    color: #f2a74b;
    margin-left: 18vh;
}

.menu-container li p:hover {
    background-color: #f2a74b;
}

.menu-container li p {
    height: 120%;
    width: 100%;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.2s;
}

.textolateral {
    list-style: none;
    margin-top: 2vh;
}

.icon {
    display: flex;
    color: #f2a74b;
    margin: -1.8vh 0px 0px -5vh;
    padding: 10px;

}

.textolateral:hover {
    color: #eeee;
}*/