<div class="dashboard-container">
  <app-menu></app-menu>

  <div class="veiculo-content">

    <!--  inicio topo em que irá o pesquisar-->

    <div class="header">
      <span class="textoaba">Veículos</span>
      <div class="topo">
        <div class="imglupa">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="40" fill="currentColor" class="bi bi-search"
            viewBox="0 6 16 17">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
          </svg>
        </div>
        <div class="pesquisabotao">
          <input type="text" class="form-control" placeholder="Pesquisar..." (change)="handlePesquisar()"
            [(ngModel)]="inputValue">
        </div>
      </div>
    </div>

    <div class="tabelaservico">
      <div class="topoadc">
        <button type="submit" (click)="openModal()" class="btn btn btn-warning" id="adcveiculo">Adicionar</button>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Categoria</th>
            <th scope="col">Modelo</th>
            <th scope="col">Marca</th>
            <th scope="col">Placa</th>
            <th scope="col">Ano</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let veiculo of veiculos">
            <th scope="col">{{veiculo.id}} </th>
            <td scope="col">{{veiculo.categoria}} </td>
            <td scope="col">{{veiculo.modelo}} </td>
            <td scope="col">{{veiculo.marca}} </td>
            <td scope="col">{{veiculo.placa}} </td>
            <td scope="col">{{veiculo.ano}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>