<div class="dashboard-container">
  <app-menu></app-menu>

  <div class="servico-content">
    <!--  inicio topo em que irá o pesquisar-->
    <div class="header">

      <div class="titulo">
        <span>VipsRemap</span>
        <h2>Veículos</h2>
      </div>
      <div class="topo">
        <div class="pesquisabotao">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="40" fill="currentColor" class="bi bi-search"
            viewBox="0 6 16 17">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
          </svg>
          <input type="text" class="form-control" placeholder="Pesquisar..." (change)="handlePesquisar()"
            [(ngModel)]="inputValue">
        </div>
        <img src="../../../assets/images/user.png" alt="">
      </div>
    </div>

    <div class="tabelaservico">
      <button (click)="openModal()" id="adicionarservico"> Adicionar </button>
      <table class="table table-striped">

        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Categoria</th>
            <th scope="col">Modelo</th>
            <th scope="col">Marca</th>
            <th scope="col">Placa</th>
            <th scope="col">Ano</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let veiculo of veiculos">
            <th scope="col">{{veiculo.id}} </th>
            <td scope="col">{{veiculo.categoria}} </td>
            <td scope="col">{{veiculo.modelo}} </td>
            <td scope="col">{{veiculo.marca}} </td>
            <td scope="col">{{veiculo.placa}} </td>
            <td scope="col">{{veiculo.ano}} </td>

             <!-- botão excluir -->
             <button (click)="removeHandler(veiculo.id)" id="delete">

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                viewBox="0 0 16 16">
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 
                    0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 
                    0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 
                    4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
              </svg>
            </button>
              <!-- botão editar  -->
              <button (click)="removeHandler(veiculo.id!)" id="delete">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-pencil-fill" viewBox="0 0 16 16">
                  <path
                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                </svg>
              </button>
  

          </tr>
        </tbody>
      </table>
    </div>
  </div>