<div class="dashboard-container">
    <app-menu></app-menu>


     <div class="veiculo-content">
  
      <div>
        <button type="submit" (click)="openModal()" class="btn btn-primary">Adicionar Produto</button>
    </div>

      <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Categoria</th>
        <th scope="col">Modelo</th>
        <th scope="col">Marca</th>
        <th scope="col">Placa</th>
        <th scope="col">Ano</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let veiculo of veiculos">
        <th scope="col">{{veiculo.id}} </th>
        <td scope="col">{{veiculo.categoria}} </td>
        <td scope="col">{{veiculo.modelo}} </td>
        <td scope="col">{{veiculo.marca}} </td>
        <td scope="col">{{veiculo.placa}} </td>
        <td scope="col">{{veiculo.ano}} </td>
      </tr>
  
    </tbody>
  </table>
</div>