#fundo{
    background-image: url(../../../assets/images/fundologin.jpg) ;
    background-size: cover;
    height: 100vh;
    position:static;
    display: flex;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
}
img{
    width: 100px;
}
input{
    width: 30vh;
    margin: 1vh;
}
button{
    width: 20vh;
    background-color: rgb(61, 61, 61);;
    color: white;
    border: none;
}
button:hover{
    
    background-color: rgb(236, 240, 39);;
}