.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
}
img{
    width: 100px;
}
input{
    width: 30vh;
    margin: 1vh;
}
button{
    width: 20vh;
}