<div class="dashboard-container">
    <app-menu></app-menu>

  <div class="servico-content">
  <button (click)="addServico()"> Adicionar </button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Cliente</th>
        <th scope="col">Veículo</th>
        <th scope="col">Serviço</th>
        <th scope="col">Representante</th>
       <th scope="col">TME</th>
       <th scope="col">Custo</th>
       <th scope="col">Pedido</th>
       <th scope="col">Envio</th>
       <th scope="col">Finalização</th>

    </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let servico of servicos">
        <th scope="col">{{servico.id}} </th>
        <td scope="col">{{servico.cliente}} </td>
        <td scope="col">{{servico.veiculo}} </td>
        <td scope="col">{{servico.servico}} </td>
        <td scope="col">{{servico.representante}} </td>
        <td scope="col">{{servico.TME}} </td>
        <td scope="col">{{servico.custo}} </td>
        <td scope="col">{{servico.pedido}} </td>
        <td scope="col">{{servico.envio}} </td>
        <td scope="col">{{servico.finalizacao}} </td>
    

      </tr>
  
    </tbody>
  </table>

</div>