<div class="modal-adicionar-veiculo-container">
    <div class="modal-adicionar-veiculo-header">
        <h1>Adicionar Veiculo</h1>
        <h3 class="close-modal" (click)="handleCloseModal()">X</h3>
    </div>
    <form (ngSubmit)="adicionarveiculo()">
        <div class="form-group">
            <label for="codigo">Código</label>
            <input type="text" id="codigo" name="codigo" [(ngModel)]="veiculo.id" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="categoria">Categoria</label>
            <input type="text" id="categoria" name="nome" [(ngModel)]="veiculo.categoria" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="modelo">Modelo</label>
            <input type="text" id="modelo" name="nome" [(ngModel)]="veiculo.modelo" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="marca">Marca</label>
            <input type="text" id="marca" name="nome" [(ngModel)]="veiculo.marca" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="placa">Placa</label>
            <input type="text" id="placa" name="nome" [(ngModel)]="veiculo.placa" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="ano">Ano</label>
            <input type="text" id="placa" name="nome" [(ngModel)]="veiculo.ano" class="form-control" required>
        </div>
        <div class="btn-adicionar-produto">
            <button type="submit" class="btn btn-primary">Adicionar Veiculo</button>

        </div>
    </form>
</div>