.modal-adicionar-veiculo-container{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 2vh;
}
.modal-adicionar-veiculo-header{
    padding: 2vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}
.close-modal{
    cursor: pointer;
}

.btn-adicionar-veiculo{
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}

input{
    margin: 1vh;
}
select{
    margin: 1vh;
}
button{
    align-items: center;
    width: 90%;
    background-color: #3a3939;
    color: white;
}
