
<div class="dashboard-container">
    <app-menu></app-menu>
   
  <div class="loja-content">

    <div>
      <button type="submit" (click)="openModal()"  class="btn btn btn-warning" id="adcproduto">Adicionar</button>
   </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Pedal</th>
        <th scope="col">Downpipe</th>
        <th scope="col">Filtro</th>
        <th scope="col">Cabos</th>
        <th scope="col">Outros</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let loja of lojas">
        <th scope="col">{{loja.id}} </th>
        <td scope="col">{{loja.pedal}} </td>
        <td scope="col">{{loja.downpipe}} </td>
        <td scope="col">{{loja.filtro}} </td>
        <td scope="col">{{loja.cabo}} </td>
        <td scope="col">{{loja.outros}} </td>
      </tr>
  
    </tbody>
  </table>
</div>