<div class="dashboard-container">
    <app-menu></app-menu>

  <div class="loja-content">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Pedal</th>
        <th scope="col">Downpipe</th>
        <th scope="col">Filtro</th>
        <th scope="col">Cabos</th>
        <th scope="col">Outros</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let loja of lojas">
        <th scope="col">{{loja.id}} </th>
        <td scope="col">{{loja.Pedal}} </td>
        <td scope="col">{{loja.Downpipe}} </td>
        <td scope="col">{{loja.Filtro}} </td>
        <td scope="col">{{loja.Cabos}} </td>
        <td scope="col">{{loja.Outros}} </td>
      </tr>
  
    </tbody>
  </table>
</div>