.dashboard-container {
    display: flex;
    flex-direction: row;
}

.deashboard-header {
    display: flex;
    border: 1px solid black;
    width: 80%;
    height: 10vh;
    margin: 5vh;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;
}

.dashboard-content {
    display: flex;
    width: 100%;
}

.txtrepresentante {
    font-size: 25px;
}

.representante-content {
    width: 98%;
    margin-top: 2vh;
}

#pesquisabotao {
    border-radius: 4px;
    width: 25vh;
    margin-top: 0;
    margin-left: 3vh;

}

#adcRepresentante {
    width: 10vh;
    height: 4vh;
    margin: 0 0 0 10px;
    background-color: #363636;
    color: #eeee;
    border-style: none;
    border-left: 15px;
}

.topo {
    display: flex;
    margin-bottom: 5vh;
}

.titulorepresentante {
    color: #9c9a9a;
    list-style: none;
    font-size: 2.1rem;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid #363636 ;
}