.dashboard-container{
    display: flex;
    flex-direction: row;
}

.deashboard-header{
    display: flex;
    border: 1px solid white;
    width:80%;
    height: 10vh;
    margin: 5vh;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;
}
.dashboard-content{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.cliente-content{
    width: 98%;
}
#adccliente{
    color: rgb(255, 255, 255);
    background-color: #3a3939;
    float: right;
    margin: 10px 20px;
}