<div class="dashboard-container">
    <app-menu></app-menu>

  <div class="cliente-content">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Telefone</th>
        <th scope="col">Estado</th>
        <th scope="col">Cidade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let cliente of clientes">
        <th scope="col">{{cliente.id}} </th>
        <td scope="col">{{cliente.nome_completo}} </td>
        <td scope="col">{{cliente.CPF}} </td>
        <td scope="col">{{cliente.Telefone}} </td>
        <td scope="col">{{cliente.Estado}} </td>
        <td scope="col">{{cliente.Cidade}} </td>
      </tr>
  
    </tbody>
  </table>
</div>